.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}
.profile_image{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 150px;

}
.hero h1{
    text-align: center;
    width: 70%;
    font-size: 90px;
    font-weight: 600;
    color: white;
}
.hero h1 span{
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} 

.hero p{
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
    color: white;
}
.hero_action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
    color: white;
}
.hero_connect{
    padding: 25px 45px;
    border-radius: 50px;
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    cursor: pointer;
}
.hero_resume{
    padding: 25px 45px;
    border-radius: 50px;
    border: 2px solid #fff;
    cursor: pointer;
}
.hero_connect:hover{
    border: 2px solid #fff;

}
.hero_resume:hover{
    border-color: #feb47b;
}
@media (max-width:910px) {
    .hero img{
        margin-bottom: 120px;
        width: 260px;

    }
    .hero h1{
        margin-top: 50px;
        font-size: 50px;
        width: 90%;
    }
    .hero p{
        width: 60%;
        font-size: 18px;
        line-height: 32px;
        margin:10px 0;

    }
    .hero_action{
        gap: 16px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 50px;
    }
    .hero_connect{
        padding: 20px 30px;
        border-radius: 40px;
       
    }
    .hero_resume{
        padding: 20px 50px;
        border-radius: 40px;
    }
    
}